<template>
  <div class="absolute w-full top-0 z-10 bg-gray-700">
    <div class="flex py-4 px-8 justify-between">
      <div class="flex gap-4">
        <div class="chevron-container">
          <ChevronLeftIcon class="chevron-icon" />
        </div>
        <div class="chevron-container">
          <ChevronRightIcon class="chevron-icon" />
        </div>
      </div>
      <div class="flex items-center gap-2 bg-black rounded-full p-0.5 cursor-pointer hover:bg-gray-800">
        <UserCircleIcon class="w-7 h-7" />
        <p>Daryn</p>
        <ChevronDownIcon class="w-7 h-7" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ChevronLeftIcon, ChevronRightIcon, UserCircleIcon } from '@heroicons/vue/outline';
import { ChevronDownIcon } from '@heroicons/vue/solid';
</script>

<style lang="postcss">
.chevron-container {
  @apply bg-black rounded-full cursor-pointer;
}

.chevron-icon {
  @apply h-6 w-6 m-1;
}
</style>
