<template>
  <div class="playlist-item">Playlist</div>
</template>

<style lang="postcss" scoped>
.playlist-item {
  @apply text-gray-300 gap-4 opacity-75 px-4 py-2 truncate cursor-default transition-colors duration-300 hover:text-white hover:opacity-100;
}
</style>
