<template>
  <div
    class="text-white bg-gray-800 border-[1px] border-white border-solid fixed h-8 bottom-0 w-full"
  >
    Player
  </div>
</template>

<script>
export default {};
</script>

<style></style>
