<template>
  <div class="py-6 px-2 bg-black flex flex-col">
    <div class="mb-6">
      <NuxtLink class="sidebar-item" to="/">
        <HomeIcon class="icon" />
        <p class="truncate">Home</p>
      </NuxtLink>
      <NuxtLink class="sidebar-item" to="/search">
        <SearchIcon class="icon" />
        <p class="truncate">Search</p>
      </NuxtLink>
      <NuxtLink class="sidebar-item" to="/library">
        <LibraryIcon class="icon" />
        <p class="truncate">Your Library</p>
      </NuxtLink>
    </div>
    <div class="mb-3">
      <div class="sidebar-item">
        <PlusCircleIcon class="icon" />
        <p>Create Playlist</p>
      </div>
      <div class="sidebar-item">
        <HeartIcon class="icon" />
        <p>Liked Songs</p>
      </div>
    </div>
    <hr class="mx-4 mb-3" />
    <Playlist />
  </div>
</template>

<script lang="ts" setup>
import { HomeIcon, SearchIcon, LibraryIcon } from '@heroicons/vue/outline';
import { PlusCircleIcon, HeartIcon } from '@heroicons/vue/solid';
</script>

<style lang="postcss" scoped>
.sidebar-item {
  @apply rounded text-gray-300 flex items-center gap-4 cursor-pointer opacity-75 px-4 py-2 truncate transition-colors duration-300 hover:text-white hover:opacity-100;
}

.icon {
  @apply h-5 w-5;
}

a.router-link-exact-active {
  @apply bg-gray-800 text-white opacity-100;
}
</style>
