<template>
  <div class="h-screen overflow-auto bg-black relative">
    <div class="flex bg-gray-900 h-full">
      <SideBar />
      <div class="text-white w-full relative">
        <Header />
        <div class="px-8 pt-16 h-full z-0">
          <slot />
        </div>
      </div>
    </div>
    <Player />
  </div>
</template>
